In [1]:
import pandas as pd
import os
import numpy as np
import camelot

In [2]:
os.getcwd()

'/Users/chuqiwang/Desktop/US_PFAS_Project/Ohio'

In [3]:
tables = camelot.read_pdf('PFAS-tables-11142023.pdf', pages='all')

In [4]:
a1 = tables[0].df.drop([0, 1, 2])[[0, 1, 2, 3, 4, 5, 6]]
a1

             0     1     2   3    4   5    6
3    9/20/2005   100     -   -    -   -    -
4    4/17/2006  20.9     -   -    -   -    -
5     5/8/2007  16.1    ND   -    -   -    -
6     4/9/2008  14.9     -   -    -   -    -
7     4/7/2009  11.4    ND   -    -   -    -
8    5/12/2010  14.1    ND   -    -   -    -
9    9/12/2010  26.4  2.99   -    -   -    -
10   5/19/2011    ND    ND   -    -   -    -
11   8/19/2011   8.9   1.6   -    -   -    -
12  12/12/2011    ND  0.49   -    -   -    -
13   2/22/2012     -  0.43   -    -   -    -
14   6/28/2012    ND    ND   -    -   -    -
15   1/15/2013    ND    ND   -    -   -    -
16   4/16/2013    ND    ND   -    -   -    -
17   7/18/2013    ND    ND   -    -   -    -
18  10/16/2013    ND    ND   -    -   -    -
19   2/22/2016   5.5    ND   -    -   -    -
20    6/7/2016   3.4    ND   -    -   -    -
21   3/28/2017   4.2    ND   -    -   -    -
22   7/26/2017     -     -   -   ND   -    -
23   4/12/2018   2.8    ND   -    -   -    -
24   5/30/2018   8.0    ND   -  2.5   -    -
25   3/26/2019   3.3    ND  ND   ND  ND   ND
26   8/13/2019     -     -   -   42   -    -
27  12/12/2019   6.0    ND  ND   ND  ND   ND
28   1/28/2020   4.4    ND  ND   ND  ND   ND
29   3/25/2020   3.3    ND  ND   ND  ND   ND
30    7/9/2020   2.2    ND  ND   ND  ND   ND
31   10/6/2020   5.9   2.2  ND  7.7  ND   ND
32   1/11/2021   2.7    ND  ND   ND  ND   ND
33   3/29/2021   2.6    ND  ND   ND  ND  2.0
34   7/12/2021   7.3    ND  ND   ND  ND   ND
35  10/19/2021    ND    ND  ND   ND  ND   ND
36   3/28/2022    ND    ND  ND   ND  ND   ND
37   4/12/2022    ND    ND  ND   ND  ND   ND
38   3/15/2023   2.7    ND  ND   ND  ND   ND
39    4/4/2023   3.1    ND  ND   ND  ND   ND
40   5/16/2023   5.4    ND  ND   ND  ND   ND
41    6/6/2023   3.5    ND  ND   ND  ND   ND
42    7/5/2023   3.9    ND  ND  4.1  ND  2.3
43    8/2/2023   4.0   2.1  ND   ND  ND   ND
44    9/6/2023   5.4   2.7  ND   ND  ND  1.9

In [5]:
a2 = tables[0].df.drop([0, 1, 2])[[0, 7, 8, 9, 10, 11, 12]]
a2

            0     7   8   9    10  11  12
3    9/20/2005    ND   -   -    -   -   -
4    4/17/2006     -   -   -    -   -   -
5     5/8/2007    ND  ND   -    -   -   -
6     4/9/2008    ND  ND   -    -   -   -
7     4/7/2009    ND  ND   -    -   -   -
8    5/12/2010    ND  ND   -    -   -   -
9    9/12/2010  1.06  ND   -    -   -   -
10   5/19/2011    ND  ND   -    -   -   -
11   8/19/2011     -   -   -    -   -   -
12  12/12/2011    ND  ND   -    -   -   -
13   2/22/2012    ND  ND   -    -   -   -
14   6/28/2012    ND  ND   -    -   -   -
15   1/15/2013    ND  ND   -    -   -   -
16   4/16/2013    ND  ND   -    -   -   -
17   7/18/2013    ND  ND   -    -   -   -
18  10/16/2013    ND  ND   -    -   -   -
19   2/22/2016    ND  ND   -    -   -   -
20    6/7/2016    ND  ND   -    -   -   -
21   3/28/2017    ND  ND   -    -   -   -
22   7/26/2017     -   -   -   ND   -   -
23   4/12/2018   2.5  ND   -    -   -   -
24   5/30/2018    ND  ND   -    -   -   -
25   3/26/2019    ND  ND  ND   ND  ND  ND
26   8/13/2019     -   -   -  5.5   -   -
27  12/12/2019    ND  ND  ND  6.6  ND  ND
28   1/28/2020    ND  ND  ND   ND  ND  ND
29   3/25/2020    ND  ND  ND   ND  ND  ND
30    7/9/2020    ND  ND  ND   ND  ND  ND
31   10/6/2020    ND  ND  ND   ND  ND  ND
32   1/11/2021    ND  ND  ND  2.6  ND  ND
33   3/29/2021    ND  ND  ND  2.6  ND  ND
34   7/12/2021    ND  ND  ND   ND  ND  ND
35  10/19/2021    ND  ND  ND   ND  ND  ND
36   3/28/2022    ND  ND  ND   ND  ND  ND
37   4/12/2022    ND  ND  ND   ND  ND  ND
38   3/15/2023    ND  ND  ND   ND  ND  ND
39    4/4/2023    ND  ND  ND   ND  ND  ND
40   5/16/2023    ND  ND  ND   ND  ND  ND
41    6/6/2023    ND  ND  ND   ND  ND  ND
42    7/5/2023    ND  ND  ND   ND  ND  ND
43    8/2/2023    ND  ND  ND   ND  ND  ND
44    9/6/2023    ND  ND  ND   ND  ND  ND

In [6]:
a1 = a1.replace({'ND': 0, '-': np.nan})

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_3460/412195130.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a1 = a1.replace({'ND': 0, '-': np.nan})

In [7]:
a2 = a2.replace({'ND': 0, '-': np.nan})

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_3460/3362362193.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a2 = a2.replace({'ND': 0, '-': np.nan})

In [8]:
analyte_list = ['PFOA', 'PFOS', 'PFHXS', 'HFPO-DA', 'PFNA', 'PFBS']

In [9]:
columns_to_repeat = [0]
df_repeated1 = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(a1)):
    row_repeated = pd.concat([a1.iloc[[i]][columns_to_repeat]] * len(analyte_list), ignore_index=True)
    df_repeated1 = pd.concat([df_repeated1, row_repeated], ignore_index=True)

df_repeated1

             0
0    9/20/2005
1    9/20/2005
2    9/20/2005
3    9/20/2005
4    9/20/2005
..         ...
247   9/6/2023
248   9/6/2023
249   9/6/2023
250   9/6/2023
251   9/6/2023

[252 rows x 1 columns]

In [10]:
df_repeated1.columns = ['sample date']

In [11]:
df_repeated1['analyte'] = analyte_list * len(a1)

In [12]:
a1[[1, 2, 3, 4, 5, 6]] = a1[[1, 2, 3, 4, 5, 6]].astype(float)

In [13]:
df_repeated1['concentration'] = a1[[1, 2, 3, 4, 5, 6]].values.flatten().tolist()

In [14]:
df_repeated1['location'] = 'Richard Miller'

In [15]:
df_repeated1['note'] = 'Raw Water'

In [16]:
df_repeated1

    sample date  analyte  concentration        location       note
0     9/20/2005     PFOA          100.0  Richard Miller  Raw Water
1     9/20/2005     PFOS            NaN  Richard Miller  Raw Water
2     9/20/2005    PFHXS            NaN  Richard Miller  Raw Water
3     9/20/2005  HFPO-DA            NaN  Richard Miller  Raw Water
4     9/20/2005     PFNA            NaN  Richard Miller  Raw Water
..          ...      ...            ...             ...        ...
247    9/6/2023     PFOS            2.7  Richard Miller  Raw Water
248    9/6/2023    PFHXS            0.0  Richard Miller  Raw Water
249    9/6/2023  HFPO-DA            0.0  Richard Miller  Raw Water
250    9/6/2023     PFNA            0.0  Richard Miller  Raw Water
251    9/6/2023     PFBS            1.9  Richard Miller  Raw Water

[252 rows x 5 columns]

In [17]:
columns_to_repeat = [0]
df_repeated2 = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(a2)):
    row_repeated = pd.concat([a2.iloc[[i]][columns_to_repeat]] * len(analyte_list), ignore_index=True)
    df_repeated2 = pd.concat([df_repeated2, row_repeated], ignore_index=True)

df_repeated2

             0
0    9/20/2005
1    9/20/2005
2    9/20/2005
3    9/20/2005
4    9/20/2005
..         ...
247   9/6/2023
248   9/6/2023
249   9/6/2023
250   9/6/2023
251   9/6/2023

[252 rows x 1 columns]

In [18]:
df_repeated2.columns = ['sample date']
df_repeated2['analyte'] = analyte_list * len(a2)
a2[[7, 8, 9, 10, 11, 12]] = a2[[7, 8, 9, 10, 11, 12]].astype(float)
df_repeated2['concentration'] = a2[[7, 8, 9, 10, 11, 12]].values.flatten().tolist()
df_repeated2['location'] = 'Richard Miller'
df_repeated2['note'] = 'Treated Water'

In [19]:
df_repeated2

    sample date  analyte  concentration        location           note
0     9/20/2005     PFOA            0.0  Richard Miller  Treated Water
1     9/20/2005     PFOS            NaN  Richard Miller  Treated Water
2     9/20/2005    PFHXS            NaN  Richard Miller  Treated Water
3     9/20/2005  HFPO-DA            NaN  Richard Miller  Treated Water
4     9/20/2005     PFNA            NaN  Richard Miller  Treated Water
..          ...      ...            ...             ...            ...
247    9/6/2023     PFOS            0.0  Richard Miller  Treated Water
248    9/6/2023    PFHXS            0.0  Richard Miller  Treated Water
249    9/6/2023  HFPO-DA            0.0  Richard Miller  Treated Water
250    9/6/2023     PFNA            0.0  Richard Miller  Treated Water
251    9/6/2023     PFBS            0.0  Richard Miller  Treated Water

[252 rows x 5 columns]

In [20]:
a3 = tables[1].df.drop([0, 1, 2])[[0, 1, 2, 3, 4, 5, 6]]
a3

             0    1    2    3   4   5    6
3     5/7/2007    -    -    -   -   -    -
4     4/9/2008    -    -    -   -   -    -
5     4/7/2009    -    -    -   -   -    -
6     4/7/2009    -    -    -   -   -    -
7    5/12/2010   ND   ND    -       -    -
8    5/19/2011    -    -    -   -   -    -
9    5/19/2011    -    -    -   -   -    -
10   6/28/2012    -    -    -   -   -    -
11   1/15/2013   ND   ND    -   -   -    -
12   4/16/2013   ND   ND    -   -   -    -
13   7/18/2013   ND   ND    -   -   -    -
14   2/22/2016  3.8   ND    -   -   -    -
15    6/7/2016  3.4  3.5    -   -   -    -
16   3/28/2017  2.9  2.9    -   -   -    -
17    5/3/2018   ND  2.5    -   -   -    -
18   3/26/2019  4.4  3.2  2.6  ND  ND  2.4
19   8/13/2019    -    -    -   -   -    -
20  12/12/2019  4.0  5.3  3.0  ND  ND  2.9
21   1/28/2020  2.6    3  2.0  ND  ND  2.1
22   2/26/2020  2.4    4  2.4  ND  ND  2.3
23   3/25/2020  3.3  4.3  2.8  ND  ND  2.6
24    7/9/2020  2.6  3.7  2.4  ND  ND  2.4
25   10/6/2020  4.6  6.6  3.9  ND  ND  3.3
26   1/11/2021  4.8  5.7  2.8  ND  ND  2.6
27   3/29/2021  2.4  4.3  2.3  ND  ND  2.1
28   7/12/2021   ND   ND   ND  ND  ND   ND
29  11/17/2021   ND   ND   ND  ND  ND   ND
30   3/25/2022    -    -    -   -   -    -
31   3/28/2022   ND  4.7   ND  ND  ND   ND
32   3/15/2023  3.0  4.4  2.0  ND  ND  3.6
33   6/22/2023    -    -    -   -   -    -
34    7/5/2023  3.4  4.3  1.9  ND  ND  3.1
35    8/1/2023  3.0  3.9  2.4  ND  ND  3.9
36    9/5/2023  5.4  5.4  3.0  ND  ND  4.5
37  10/10/2023  3.1  5.7  2.6  ND  ND  3.9

In [21]:
a3 = a3.replace({'ND': 0, '-': np.nan, '': np.nan})

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_3460/1643112424.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a3 = a3.replace({'ND': 0, '-': np.nan, '': np.nan})

In [22]:
columns_to_repeat = [0]
df_repeated3 = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(a3)):
    row_repeated = pd.concat([a3.iloc[[i]][columns_to_repeat]] * len(analyte_list), ignore_index=True)
    df_repeated3 = pd.concat([df_repeated3, row_repeated], ignore_index=True)

df_repeated3

              0
0      5/7/2007
1      5/7/2007
2      5/7/2007
3      5/7/2007
4      5/7/2007
..          ...
205  10/10/2023
206  10/10/2023
207  10/10/2023
208  10/10/2023
209  10/10/2023

[210 rows x 1 columns]

In [23]:
df_repeated3.columns = ['sample date']
df_repeated3['analyte'] = analyte_list * len(a3)
a3[[1, 2, 3, 4, 5, 6]] = a3[[1, 2, 3, 4, 5, 6]].astype(float)
df_repeated3['concentration'] = a3[[1, 2, 3, 4, 5, 6]].values.flatten().tolist()
df_repeated3['location'] = 'Charles M. Bolton'
df_repeated3['note'] = 'Raw Water'

In [24]:
df_repeated3

    sample date  analyte  concentration           location       note
0      5/7/2007     PFOA            NaN  Charles M. Bolton  Raw Water
1      5/7/2007     PFOS            NaN  Charles M. Bolton  Raw Water
2      5/7/2007    PFHXS            NaN  Charles M. Bolton  Raw Water
3      5/7/2007  HFPO-DA            NaN  Charles M. Bolton  Raw Water
4      5/7/2007     PFNA            NaN  Charles M. Bolton  Raw Water
..          ...      ...            ...                ...        ...
205  10/10/2023     PFOS            5.7  Charles M. Bolton  Raw Water
206  10/10/2023    PFHXS            2.6  Charles M. Bolton  Raw Water
207  10/10/2023  HFPO-DA            0.0  Charles M. Bolton  Raw Water
208  10/10/2023     PFNA            0.0  Charles M. Bolton  Raw Water
209  10/10/2023     PFBS            3.9  Charles M. Bolton  Raw Water

[210 rows x 5 columns]

In [25]:
a4 = tables[1].df.drop([0, 1, 2])[[0, 7, 8, 9, 10, 11, 12]]
a4

            0    7    8    9   10  11   12
3     5/7/2007   ND   ND    -   -   -    -
4     4/9/2008   ND   ND    -   -   -    -
5     4/7/2009   ND   ND    -   -   -    -
6     4/7/2009   ND   ND    -   -   -    -
7    5/12/2010   ND   ND    -   -   -    -
8    5/19/2011   ND   ND    -   -   -    -
9    5/19/2011   ND   ND    -   -   -    -
10   6/28/2012   ND   ND    -   -   -    -
11   1/15/2013   ND   ND    -   -   -    -
12   4/16/2013   ND   ND    -   -   -    -
13   7/18/2013   ND   ND    -   -   -    -
14   2/22/2016  4.4   ND    -   -   -    -
15    6/7/2016  3.4  3.6    -   -   -    -
16   3/28/2017  4.4  4.0    -   -   -    -
17    5/3/2018  3.6  4.0    -   -   -    -
18   3/26/2019  4.1  3.7  2.6   -  ND  2.2
19   8/13/2019    -    -    -   -   -    -
20  12/12/2019    -    -    -   -   -    -
21   1/28/2020  2.7  3.1  2.1  ND  ND  2.2
22   2/26/2020  4.7  5.3  2.8  ND  ND  2.2
23   3/25/2020  3.5  4.5  2.7  ND  ND  2.7
24    7/9/2020    -    -    -   -   -    -
25   10/6/2020    -    -    -   -   -    -
26   1/11/2021  4.7  5.7  2.8  ND  ND  2.4
27   3/29/2021  2.4  4.1  2.7  ND  ND  2.1
28   7/12/2021    -    -    -   -   -    -
29  11/17/2021    -    -    -   -   -    -
30   3/25/2022   ND   ND   ND  ND  ND   ND
31   3/28/2022    -    -    -   -   -    -
32   3/15/2023    -    -    -   -   -    -
33   6/22/2023   ND  4.2   ND  ND  ND  3.7
34    7/5/2023    -    -    -   -   -    -
35    8/1/2023    -    -    -   -   -    -
36    9/5/2023    -    -    -   -   -    -
37  10/10/2023    -    -    -   -   -    -

In [26]:
columns_to_repeat = [0]
df_repeated4 = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(a4)):
    row_repeated = pd.concat([a4.iloc[[i]][columns_to_repeat]] * len(analyte_list), ignore_index=True)
    df_repeated4 = pd.concat([df_repeated4, row_repeated], ignore_index=True)

df_repeated4

              0
0      5/7/2007
1      5/7/2007
2      5/7/2007
3      5/7/2007
4      5/7/2007
..          ...
205  10/10/2023
206  10/10/2023
207  10/10/2023
208  10/10/2023
209  10/10/2023

[210 rows x 1 columns]

In [27]:
a4 = a4.replace({'ND': 0, '-': np.nan, '': np.nan})

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_3460/3295436352.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a4 = a4.replace({'ND': 0, '-': np.nan, '': np.nan})

In [28]:
df_repeated4.columns = ['sample date']
df_repeated4['analyte'] = analyte_list * len(a4)
a4[[7, 8, 9, 10, 11, 12]] = a4[[7, 8, 9, 10, 11, 12]].astype(float)
df_repeated4['concentration'] = a4[[7, 8, 9, 10, 11, 12]].values.flatten().tolist()
df_repeated4['location'] = 'Charles M. Bolton'
df_repeated4['note'] = 'Treated Water'

In [29]:
ohio_df1 = pd.concat([df_repeated1, df_repeated2, df_repeated3, df_repeated4])

In [30]:
ohio_df1

    sample date  analyte  concentration           location           note
0     9/20/2005     PFOA          100.0     Richard Miller      Raw Water
1     9/20/2005     PFOS            NaN     Richard Miller      Raw Water
2     9/20/2005    PFHXS            NaN     Richard Miller      Raw Water
3     9/20/2005  HFPO-DA            NaN     Richard Miller      Raw Water
4     9/20/2005     PFNA            NaN     Richard Miller      Raw Water
..          ...      ...            ...                ...            ...
205  10/10/2023     PFOS            NaN  Charles M. Bolton  Treated Water
206  10/10/2023    PFHXS            NaN  Charles M. Bolton  Treated Water
207  10/10/2023  HFPO-DA            NaN  Charles M. Bolton  Treated Water
208  10/10/2023     PFNA            NaN  Charles M. Bolton  Treated Water
209  10/10/2023     PFBS            NaN  Charles M. Bolton  Treated Water

[924 rows x 5 columns]

In [31]:
columns = {
    'sample_id': str,
    'sampling_location': str,
    'data_source': str,
    'latitude': float,
    'longitude': float,
    'sampling_date': 'datetime64[ns]',
    'pws_id': str,
    'water_system_name': str,
    'population': int,
    'well_type': str,
    'well_depth': float,
    'units': str,
    'source_type': str,
    'state': str,
    'city': str,
    'county': str,
    'MRL': float,
    'DL': float,
    'analytical_methods': str,
    'is_detected': bool,
    'analyte': str,
    'concentration': float,
    'pfas_total': float,
    'note': str 
}

In [32]:
df1 = pd.DataFrame({col: pd.Series(dtype=dt) for col, dt in columns.items()})
df1['sampling_location'] = ohio_df1['location']
df1['analyte'] = ohio_df1['analyte']
df1['concentration'] = ohio_df1['concentration']
df1['sampling_date'] = pd.to_datetime(ohio_df1['sample date'])
df1['units'] = 'ng/L'
df1['state'] = 'Ohio'
df1['data_source'] = 'PFAS Testing of Ohio Public Water Systems'
df1['source_type'] = 'drinking water'
df1['note'] = ohio_df1['note']

In [33]:
def set_is_detected(concentration):
    if pd.isna(concentration):
        return np.nan
    return concentration != 0

In [34]:
df1['is_detected'] = df1['concentration'].apply(set_is_detected)

In [35]:
df1

,sample_id,sampling_location,data_source,latitude,longitude,sampling_date,pws_id,water_system_name,population,well_type,...,city,county,MRL,DL,analytical_methods,is_detected,analyte,concentration,pfas_total,note
0,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFOA,100.0,NaN,Raw Water
1,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFOS,NaN,NaN,Raw Water
2,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFHXS,NaN,NaN,Raw Water
3,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,HFPO-DA,NaN,NaN,Raw Water
4,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFNA,NaN,NaN,Raw Water
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,NaN,Charles M. Bolton,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2023-10-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFOS,NaN,NaN,Treated Water
206,NaN,Charles M. Bolton,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2023-10-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFHXS,NaN,NaN,Treated Water
207,NaN,Charles M. Bolton,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2023-10-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,HFPO-DA,NaN,NaN,Treated Water
208,NaN,Charles M. Bolton,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2023-10-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFNA,NaN,NaN,Treated Water
209,NaN,Charles M. Bolton,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2023-10-10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFBS,NaN,NaN,Treated Water

In [36]:
ohio_df2 = pd.read_excel('Export_Springfield-Beckley Municipal.xlsx')

In [37]:
ohio_df2

,Component ID,Component,State,Installation Name,Installation Type,Lab Report Id,Laboratory Sample ID,Sample Date,Analysis Method,CAS Number,Analyte Abbreviation,Final Result,Limit of Detection,Final Units,Final Qualification,Treatment System,Pre Or Post Treatment
0,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,375-73-5,PFBS,NaN,4,ng/L,U,No,NaN
1,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,375-85-9,PFHpA,NaN,4,ng/L,U,No,NaN
2,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,355-46-4,PFHxS,NaN,2,ng/L,U,No,NaN
3,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,375-95-1,PFNA,NaN,4,ng/L,U,No,NaN
4,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,1763-23-1,PFOS,NaN,4,ng/L,U,No,NaN
5,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-007,7/10/2022,537,335-67-1,PFOA,NaN,4,ng/L,U,No,NaN
6,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,375-73-5,PFBS,NaN,4,ng/L,U,No,NaN
7,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,375-85-9,PFHpA,NaN,4,ng/L,U,No,NaN
8,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,355-46-4,PFHxS,NaN,2,ng/L,U,No,NaN
9,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,375-95-1,PFNA,NaN,4,ng/L,U,No,NaN
10,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,1763-23-1,PFOS,NaN,4,ng/L,U,No,NaN
11,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-001,7/10/2022,537,335-67-1,PFOA,NaN,4,ng/L,U,No,NaN
12,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,375-73-5,PFBS,NaN,4,ng/L,U,No,NaN
13,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,375-85-9,PFHpA,NaN,4,ng/L,U,No,NaN
14,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,355-46-4,PFHxS,NaN,2,ng/L,U,No,NaN
15,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,375-95-1,PFNA,NaN,4,ng/L,U,No,NaN
16,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,1763-23-1,PFOS,NaN,4,ng/L,U,No,NaN
17,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-003,7/10/2022,537,335-67-1,PFOA,NaN,4,ng/L,U,No,NaN
18,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,375-73-5,PFBS,NaN,4,ng/L,U,No,NaN
19,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,375-85-9,PFHpA,NaN,4,ng/L,U,No,NaN
20,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,355-46-4,PFHxS,NaN,2,ng/L,U,No,NaN
21,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,375-95-1,PFNA,NaN,4,ng/L,U,No,NaN
22,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,1763-23-1,PFOS,NaN,4,ng/L,U,No,NaN
23,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2207861,K2207861-005,7/10/2022,537,335-67-1,PFOA,NaN,4,ng/L,U,No,NaN
24,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,375-73-5,PFBS,NaN,4,ng/L,U,No,NaN
25,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,375-85-9,PFHpA,NaN,4,ng/L,U,No,NaN
26,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,355-46-4,PFHxS,NaN,2,ng/L,U,No,NaN
27,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,375-95-1,PFNA,NaN,4,ng/L,U,No,NaN
28,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,1763-23-1,PFOS,NaN,4,ng/L,U,No,NaN
29,5700,Air Force,Ohio,Springfield-Beckley Municipal,National Guard,K2208608,K2208608-001,7/27/2022,537,335-67-1,PFOA,NaN,4,ng/L,U,No,NaN

In [38]:
df2 = pd.DataFrame({col: pd.Series(dtype=dt) for col, dt in columns.items()})
df2['analyte'] = ohio_df2['Analyte Abbreviation'].str.upper()
df2['concentration'] = ohio_df2['Final Result'].fillna(0)
df2['sampling_location'] = ohio_df2['Installation Name']
df2['DL'] = ohio_df2['Limit of Detection']
df2['sampling_date'] = pd.to_datetime(ohio_df2['Sample Date'])
df2['sample_id'] = ohio_df2['Laboratory Sample ID']
df2['units'] = ohio_df2['Final Units']
df2['state'] = ohio_df2['State']
df2['analytical_methods'] = ohio_df2['Analysis Method']
df2['data_source'] = 'DoD'
df2['source_type'] = 'drinking water'

In [39]:
df2['is_detected'] = df2['concentration'] != 0

In [40]:
ohio_df3 = pd.read_excel('Export_Toledo Express.xlsx')

In [41]:
df3 = pd.DataFrame({col: pd.Series(dtype=dt) for col, dt in columns.items()})
df3['analyte'] = ohio_df3['Analyte Abbreviation'].str.upper()
df3['concentration'] = ohio_df3['Final Result'].fillna(0)
df3['sampling_location'] = ohio_df3['Installation Name']
df3['DL'] = ohio_df3['Limit of Detection']
df3['sampling_date'] = pd.to_datetime(ohio_df3['Sample Date'])
df3['sample_id'] = ohio_df3['Laboratory Sample ID']
df3['units'] = ohio_df3['Final Units']
df3['state'] = ohio_df3['State']
df3['analytical_methods'] = ohio_df3['Analysis Method']
df3['data_source'] = 'DoD'
df3['source_type'] = 'drinking water'

In [42]:
df3['is_detected'] = df3['concentration'] != 0

In [43]:
df = pd.concat([df1, df2, df3])

In [44]:
df.index = range(0, len(df))

In [45]:
df

,sample_id,sampling_location,data_source,latitude,longitude,sampling_date,pws_id,water_system_name,population,well_type,...,city,county,MRL,DL,analytical_methods,is_detected,analyte,concentration,pfas_total,note
0,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFOA,100.0,NaN,Raw Water
1,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFOS,NaN,NaN,Raw Water
2,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFHXS,NaN,NaN,Raw Water
3,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,HFPO-DA,NaN,NaN,Raw Water
4,NaN,Richard Miller,PFAS Testing of Ohio Public Water Systems,NaN,NaN,2005-09-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,PFNA,NaN,NaN,Raw Water
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1547,410-169435-8,Toledo Express,DoD,NaN,NaN,2024-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.90,1633,False,PFPEA,0.0,NaN,NaN
1548,410-169435-8,Toledo Express,DoD,NaN,NaN,2024-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.75,1633,False,PFPES,0.0,NaN,NaN
1549,410-169435-8,Toledo Express,DoD,NaN,NaN,2024-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.75,1633,False,PFTEDA,0.0,NaN,NaN
1550,410-169435-8,Toledo Express,DoD,NaN,NaN,2024-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.75,1633,False,PFTRDA,0.0,NaN,NaN
1551,410-169435-8,Toledo Express,DoD,NaN,NaN,2024-04-23,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.75,1633,False,PFUNA,0.0,NaN,NaN

In [46]:
df.to_csv('ohio_dw.csv')