In [1]:
import pandas as pd
import os
import numpy as np
import camelot

In [2]:
tables_2020 = camelot.read_pdf('PFAS_Report_2020.pdf', pages = '26-87', flavor = 'stream')

In [3]:
tables_2020

In [4]:
tables_2020[0].df

,0,1,2,3,4,5
0,Results of Garrison-DW,,,,,
1,Client Sample ID: Garrison-DW,,,,Collection Date: 10/12/2020 10:00,
2,Client Project ID: PFAS Study,,,,Received Date: 10/19/2020 09:10,
3,Lab Sample ID: 32001921001-A,,,,Matrix: Drinking Water,
4,Lab Project ID: 32001921,,,,,
5,Results by EPA 537.1,,,,,
6,Parameter,Result,Qual,DL,LOQ/CL \nUnits \nDF,Date Analyzed

In [30]:
tables_2020[1].df

,0,1,2,3,4,5,6,7
0,Results by EPA 537.1,,,,,,,
1,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
2,NEtFOSAA,ND,U,0.780,2.02,ng/L,1,10/28/2020 21:30
3,NMeFOSAA,ND,U,0.716,2.02,ng/L,1,10/28/2020 21:30
4,PFBS,ND,U,0.469,2.02,ng/L,1,10/28/2020 21:30
5,PFDA,ND,U,0.459,2.02,ng/L,1,10/28/2020 21:30
6,PFDoA,ND,U,0.500,2.02,ng/L,1,10/28/2020 21:30
7,PFHpA,ND,U,0.589,2.02,ng/L,1,10/28/2020 21:30
8,PFHxA,ND,U,0.625,2.02,ng/L,1,10/28/2020 21:30
9,PFHxS,ND,U,0.511,2.02,ng/L,1,10/28/2020 21:30
10,PFNA,ND,U,0.425,2.02,ng/L,1,10/28/2020 21:30
11,PFOA,ND,U,0.500,2.02,ng/L,1,10/28/2020 21:30
12,PFOS,ND,U,0.489,2.02,ng/L,1,10/28/2020 21:30
13,PFTreA,ND,U,0.309,2.02,ng/L,1,10/28/2020 21:30
14,PFTriA,ND,U,0.398,2.02,ng/L,1,10/28/2020 21:30
15,PFuNA,ND,U,0.350,2.02,ng/L,1,10/28/2020 21:30
16,NaDONA,ND,U,0.438,2.02,ng/L,1,10/28/2020 21:30
17,9Cl-PF3ONS,ND,U,0.422,2.02,ng/L,1,10/28/2020 21:30
18,11Cl-PF3OUdS,ND,U,0.484,2.02,ng/L,1,10/28/2020 21:30
19,HFPO-DA (GenX),ND,U,1.42,2.02,ng/L,1,10/28/2020 21:30
20,Surrogates,,,,,,,
21,13C2-PFDA,93.9,,,70.0-130,%,1,10/28/2020 \n21:30
22,13C2-PFHxA,98.3,,,70.0-130,%,1,10/28/2020 21:30
23,d5-NEtFOSAA,99.8,,,70.0-130,%,1,10/28/2020 21:30
24,13C3-HFPO-DA,120,,,70.0-130,%,1,10/28/2020 21:30
25,Batch Information,,,,,,,

In [5]:
tables_2020[1].df.drop([0, 20, 21, 22, 23, 24, 25]).drop([1])

                 0   1  2      3     4     5  6                  7
2         NEtFOSAA  ND  U  0.780  2.02  ng/L  1  10/28/2020  21:30
3         NMeFOSAA  ND  U  0.716  2.02  ng/L  1  10/28/2020  21:30
4             PFBS  ND  U  0.469  2.02  ng/L  1  10/28/2020  21:30
5             PFDA  ND  U  0.459  2.02  ng/L  1  10/28/2020  21:30
6            PFDoA  ND  U  0.500  2.02  ng/L  1  10/28/2020  21:30
7            PFHpA  ND  U  0.589  2.02  ng/L  1  10/28/2020  21:30
8            PFHxA  ND  U  0.625  2.02  ng/L  1  10/28/2020  21:30
9            PFHxS  ND  U  0.511  2.02  ng/L  1  10/28/2020  21:30
10            PFNA  ND  U  0.425  2.02  ng/L  1  10/28/2020  21:30
11            PFOA  ND  U  0.500  2.02  ng/L  1  10/28/2020  21:30
12            PFOS  ND  U  0.489  2.02  ng/L  1  10/28/2020  21:30
13          PFTreA  ND  U  0.309  2.02  ng/L  1  10/28/2020  21:30
14          PFTriA  ND  U  0.398  2.02  ng/L  1  10/28/2020  21:30
15           PFuNA  ND  U  0.350  2.02  ng/L  1  10/28/2020  21:30
16          NaDONA  ND  U  0.438  2.02  ng/L  1  10/28/2020  21:30
17      9Cl-PF3ONS  ND  U  0.422  2.02  ng/L  1  10/28/2020  21:30
18    11Cl-PF3OUdS  ND  U  0.484  2.02  ng/L  1  10/28/2020  21:30
19  HFPO-DA (GenX)  ND  U   1.42  2.02  ng/L  1  10/28/2020  21:30

In [6]:
list(tables_2020[1].df.drop([0, 20, 21, 22, 23, 24, 25]).iloc[0])

['Parameter', 'Result', 'Qual', 'DL', 'LOQ/CL', 'Units', 'DF', 'Date Analyzed']

In [69]:
nd_df1 = pd.DataFrame()
for i in range(1, len(tables_2020), 2):
    df = tables_2020[i].df
    df = df.drop([0, 20, 21, 22, 23, 24, 25])
    df.columns = list(df.iloc[0])
    df = df.drop([1])
    nd_df1 = pd.concat([nd_df1, df])

nd_df1

         Parameter Result Qual     DL LOQ/CL Units DF      Date Analyzed
2         NEtFOSAA     ND    U  0.780   2.02  ng/L  1  10/28/2020  21:30
3         NMeFOSAA     ND    U  0.716   2.02  ng/L  1  10/28/2020  21:30
4             PFBS     ND    U  0.469   2.02  ng/L  1  10/28/2020  21:30
5             PFDA     ND    U  0.459   2.02  ng/L  1  10/28/2020  21:30
6            PFDoA     ND    U  0.500   2.02  ng/L  1  10/28/2020  21:30
..             ...    ...  ...    ...    ...   ... ..                ...
15           PFuNA     ND    U  0.356   2.05  ng/L  1   11/4/2020  21:58
16          NaDONA     ND    U  0.445   2.05  ng/L  1   11/4/2020  21:58
17      9Cl-PF3ONS     ND    U  0.429   2.05  ng/L  1   11/4/2020  21:58
18    11Cl-PF3OUdS     ND    U  0.492   2.05  ng/L  1   11/4/2020  21:58
19  HFPO-DA (GenX)     ND    U   1.44   2.05  ng/L  1   11/4/2020  21:58

[1116 rows x 8 columns]

In [9]:
col_df = pd.DataFrame()
for i in range(0, len(tables_2020), 2):
    tem_df = pd.DataFrame()
    df = tables_2020[i].df
    df = df.drop(df.index[-1])
    df = df.replace('', np.nan).dropna(axis=1, how='all')
    tem_df['location'] = [df.iloc[1, 0]]
    tem_df['sample_id'] = [df.iloc[3, 0]]
    tem_df['sample_date'] = [df.iloc[1, 1]]
    col_df = pd.concat([col_df, tem_df])
col_df

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/691756199.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('', np.nan).dropna(axis=1, how='all')

,location,sample_id,sample_date
0,Client Sample ID: Garrison-DW,Lab Sample ID: 32001921001-A,Collection Date: 10/12/2020 10:00
0,Client Sample ID: Towner-DW,Lab Sample ID: 32001921002-A,Collection Date: 10/12/2020 11:50
0,Client Sample ID: Rugby-DW,Lab Sample ID: 32001921003-A,Collection Date: 10/12/2020 13:45
0,Client Sample ID: All Seasons IV,Lab Sample ID: 32001921004-A,Collection Date: 10/12/2020 15:00
0,Client Sample ID: Yellow-DW-Dup,Lab Sample ID: 32001921005-A,Collection Date: 10/12/2020 15:00
...,...,...,...
0,"Client Sample ID: Hillsboro, ND-DW",Lab Sample ID: 32001921058-A,Collection Date: 10/13/2020 16:30
0,Client Sample ID: Duplicate-DW-Orange,Lab Sample ID: 32001921059-A,Collection Date: 10/13/2020 16:30
0,Client Sample ID: Barnes RW-DW,Lab Sample ID: 32001921060-A,Collection Date: 10/13/2020 11:05
0,Client Sample ID: Agassiz RW-DW,Lab Sample ID: 32001921061-A,Collection Date: 10/13/2020 15:00
0,"Client Sample ID: Hope, ND-DW",Lab Sample ID: 32001921062-A,Collection Date: 10/13/2020 12:30

In [10]:
col_df['sample_id'] = col_df['sample_id'].str.split(':').str[1].str.strip()
col_df['location'] = col_df['location'].str.split(':').str[1].str.strip()
col_df['sample_date'] = col_df['sample_date'].apply(lambda x: x.split(': ', 1)[1])

In [11]:
col_df

               location      sample_id         sample_date
0           Garrison-DW  32001921001-A   10/12/2020  10:00
0             Towner-DW  32001921002-A   10/12/2020  11:50
0              Rugby-DW  32001921003-A   10/12/2020  13:45
0        All Seasons IV  32001921004-A   10/12/2020  15:00
0         Yellow-DW-Dup  32001921005-A   10/12/2020  15:00
..                  ...            ...                 ...
0      Hillsboro, ND-DW  32001921058-A   10/13/2020  16:30
0   Duplicate-DW-Orange  32001921059-A   10/13/2020  16:30
0          Barnes RW-DW  32001921060-A   10/13/2020  11:05
0         Agassiz RW-DW  32001921061-A   10/13/2020  15:00
0           Hope, ND-DW  32001921062-A   10/13/2020  12:30

[62 rows x 3 columns]

In [12]:
nd_df1

         Parameter Result Qual     DL LOQ/CL Units DF      Date Analyzed
2         NEtFOSAA     ND    U  0.780   2.02  ng/L  1  10/28/2020  21:30
3         NMeFOSAA     ND    U  0.716   2.02  ng/L  1  10/28/2020  21:30
4             PFBS     ND    U  0.469   2.02  ng/L  1  10/28/2020  21:30
5             PFDA     ND    U  0.459   2.02  ng/L  1  10/28/2020  21:30
6            PFDoA     ND    U  0.500   2.02  ng/L  1  10/28/2020  21:30
..             ...    ...  ...    ...    ...   ... ..                ...
15           PFuNA     ND    U  0.356   2.05  ng/L  1   11/4/2020  21:58
16          NaDONA     ND    U  0.445   2.05  ng/L  1   11/4/2020  21:58
17      9Cl-PF3ONS     ND    U  0.429   2.05  ng/L  1   11/4/2020  21:58
18    11Cl-PF3OUdS     ND    U  0.492   2.05  ng/L  1   11/4/2020  21:58
19  HFPO-DA (GenX)     ND    U   1.44   2.05  ng/L  1   11/4/2020  21:58

[1116 rows x 8 columns]

In [13]:
col_df

               location      sample_id         sample_date
0           Garrison-DW  32001921001-A   10/12/2020  10:00
0             Towner-DW  32001921002-A   10/12/2020  11:50
0              Rugby-DW  32001921003-A   10/12/2020  13:45
0        All Seasons IV  32001921004-A   10/12/2020  15:00
0         Yellow-DW-Dup  32001921005-A   10/12/2020  15:00
..                  ...            ...                 ...
0      Hillsboro, ND-DW  32001921058-A   10/13/2020  16:30
0   Duplicate-DW-Orange  32001921059-A   10/13/2020  16:30
0          Barnes RW-DW  32001921060-A   10/13/2020  11:05
0         Agassiz RW-DW  32001921061-A   10/13/2020  15:00
0           Hope, ND-DW  32001921062-A   10/13/2020  12:30

[62 rows x 3 columns]

In [14]:
columns_to_repeat = ['location', 'sample_id', 'sample_date']
df_repeated = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(col_df)):
    row_repeated = pd.concat([col_df.iloc[[i]][columns_to_repeat]] * 18, ignore_index=True)
    df_repeated = pd.concat([df_repeated, row_repeated], ignore_index=True)

df_repeated

         location      sample_id         sample_date
0     Garrison-DW  32001921001-A   10/12/2020  10:00
1     Garrison-DW  32001921001-A   10/12/2020  10:00
2     Garrison-DW  32001921001-A   10/12/2020  10:00
3     Garrison-DW  32001921001-A   10/12/2020  10:00
4     Garrison-DW  32001921001-A   10/12/2020  10:00
...           ...            ...                 ...
1111  Hope, ND-DW  32001921062-A   10/13/2020  12:30
1112  Hope, ND-DW  32001921062-A   10/13/2020  12:30
1113  Hope, ND-DW  32001921062-A   10/13/2020  12:30
1114  Hope, ND-DW  32001921062-A   10/13/2020  12:30
1115  Hope, ND-DW  32001921062-A   10/13/2020  12:30

[1116 rows x 3 columns]

In [15]:
nd_df1.index = range(0, len(nd_df1))

In [18]:
nd_df2020 = pd.concat([df_repeated, nd_df1], axis=1)

In [19]:
nd_df2020

,location,sample_id,sample_date,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
0,Garrison-DW,32001921001-A,10/12/2020 10:00,NEtFOSAA,ND,U,0.780,2.02,ng/L,1,10/28/2020 21:30
1,Garrison-DW,32001921001-A,10/12/2020 10:00,NMeFOSAA,ND,U,0.716,2.02,ng/L,1,10/28/2020 21:30
2,Garrison-DW,32001921001-A,10/12/2020 10:00,PFBS,ND,U,0.469,2.02,ng/L,1,10/28/2020 21:30
3,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDA,ND,U,0.459,2.02,ng/L,1,10/28/2020 21:30
4,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDoA,ND,U,0.500,2.02,ng/L,1,10/28/2020 21:30
...,...,...,...,...,...,...,...,...,...,...,...
1111,"Hope, ND-DW",32001921062-A,10/13/2020 12:30,PFuNA,ND,U,0.356,2.05,ng/L,1,11/4/2020 21:58
1112,"Hope, ND-DW",32001921062-A,10/13/2020 12:30,NaDONA,ND,U,0.445,2.05,ng/L,1,11/4/2020 21:58
1113,"Hope, ND-DW",32001921062-A,10/13/2020 12:30,9Cl-PF3ONS,ND,U,0.429,2.05,ng/L,1,11/4/2020 21:58
1114,"Hope, ND-DW",32001921062-A,10/13/2020 12:30,11Cl-PF3OUdS,ND,U,0.492,2.05,ng/L,1,11/4/2020 21:58
1115,"Hope, ND-DW",32001921062-A,10/13/2020 12:30,HFPO-DA (GenX),ND,U,1.44,2.05,ng/L,1,11/4/2020 21:58

In [20]:
tables_2021 = camelot.read_pdf('PFAS_Report_2021.pdf', pages = '43-117', flavor = 'stream')

In [24]:
tables_2021

In [27]:
tables_2021[0].df

,0,1,2,3,4,5,6,7
0,Results of Makoti DW,,,,,,,
1,Client Sample ID: Makoti DW,,,,,Collection Date: 06/28/2021 11:53,,
2,Client Project ID: 5541 EQ3992-41,,,,,Received Date: 07/01/2021 09:38,,
3,Lab Sample ID: 32101399001-A,,,,,Matrix: Drinking Water,,
4,Lab Project ID: 32101399,,,,,,,
5,Results by EPA 537.1,,,,,,,
6,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
7,NEtFOSAA,ND,U,0.707,1.71,ng/L,1,07/8/2021 21:59
8,NMeFOSAA,ND,U,0.725,3.42,ng/L,1,07/8/2021 21:59
9,PFBS,ND,U,0.473,1.71,ng/L,1,07/8/2021 21:59
10,PFDA,ND,U,0.813,1.71,ng/L,1,07/8/2021 21:59
11,PFDoA,ND,U,0.959,1.71,ng/L,1,07/8/2021 21:59
12,PFHpA,ND,U,0.664,1.71,ng/L,1,07/8/2021 21:59
13,PFHxA,ND,U,0.606,1.71,ng/L,1,07/8/2021 21:59
14,PFHxS,ND,U,0.400,1.71,ng/L,1,07/8/2021 21:59
15,PFNA,ND,U,0.678,1.71,ng/L,1,07/8/2021 21:59
16,PFOA,ND,U,0.494,1.71,ng/L,1,07/8/2021 21:59
17,PFOS,ND,U,0.487,1.71,ng/L,1,07/8/2021 21:59
18,PFTreA,ND,U,0.325,1.71,ng/L,1,07/8/2021 21:59
19,PFTriA,ND,U,0.345,1.71,ng/L,1,07/8/2021 21:59
20,PFuNA,ND,U,0.354,1.71,ng/L,1,07/8/2021 21:59
21,NaDONA,ND,U,0.468,1.71,ng/L,1,07/8/2021 21:59
22,9Cl-PF3ONS,ND,U,0.571,1.71,ng/L,1,07/8/2021 21:59
23,11Cl-PF3OUdS,ND,U,0.582,1.71,ng/L,1,07/8/2021 21:59
24,HFPO-DA (GenX),ND,U,1.48,3.42,ng/L,1,07/8/2021 21:59
25,Surrogates,,,,,,,
26,13C2-PFDA,105,,,70.0-130,%,1,07/8/2021 21:59
27,13C2-PFHxA,98.8,,,70.0-130,%,1,07/8/2021 21:59
28,d5-NEtFOSAA,95.5,,,70.0-130,%,1,07/8/2021 21:59
29,13C3-HFPO-DA,99.7,,,70.0-130,%,1,07/8/2021 21:59
30,Batch Information,,,,,,,

In [53]:
nd_df2 = pd.DataFrame()
col_df2 = pd.DataFrame()
for i in range(len(tables_2021)):
    table = tables_2021[i].df
    df1 = table.drop([0, 1, 2, 3, 4, 5, 25, 26, 27, 28, 29, 30])
    df1.columns = list(df1.iloc[0])
    df1 = df1.drop([6])
    nd_df2 = pd.concat([nd_df2, df1])
    tem_df = pd.DataFrame()
    df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
    tem_df['location'] = [df2.iloc[1, 0]]
    tem_df['sample_id'] = [df2.iloc[3, 0]]
    tem_df['sample_date'] = [df2.iloc[1, 1]]
    col_df2 = pd.concat([col_df2, tem_df])

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')
/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_49706/2523820287.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2 = table.iloc[0:6, ].replace('', np.nan).dropna(axis=1, how='all')

In [54]:
nd_df2

         Parameter Result Qual     DL LOQ/CL Units DF      Date Analyzed
7         NEtFOSAA     ND    U  0.707   1.71  ng/L  1   07/8/2021  21:59
8         NMeFOSAA     ND    U  0.725   3.42  ng/L  1   07/8/2021  21:59
9             PFBS     ND    U  0.473   1.71  ng/L  1   07/8/2021  21:59
10            PFDA     ND    U  0.813   1.71  ng/L  1   07/8/2021  21:59
11           PFDoA     ND    U  0.959   1.71  ng/L  1   07/8/2021  21:59
..             ...    ...  ...    ...    ...   ... ..                ...
20           PFuNA     ND    U  0.378   1.82  ng/L  1  07/14/2021  14:46
21          NaDONA     ND    U  0.499   1.82  ng/L  1  07/14/2021  14:46
22      9Cl-PF3ONS     ND    U  0.609   1.82  ng/L  1  07/14/2021  14:46
23    11Cl-PF3OUdS     ND    U  0.620   1.82  ng/L  1  07/14/2021  14:46
24  HFPO-DA (GenX)     ND    U   1.58   3.65  ng/L  1  07/14/2021  14:46

[1350 rows x 8 columns]

In [55]:
col_df2

,location,sample_id,sample_date
0,Client Sample ID: Makoti DW,Lab Sample ID: 32101399001-A,Collection Date: 06/28/2021 11:53
0,Client Sample ID: Maggie DW - DUP,Lab Sample ID: 32101399002-A,Collection Date: 06/28/2021 11:54
0,Client Sample ID: Riverdale DW,Lab Sample ID: 32101399003-A,Collection Date: 06/28/2021 10:11
0,Client Sample ID: McLean-Sheridan DW,Lab Sample ID: 32101399004-A,Collection Date: 06/28/2021 09:03
0,Client Sample ID: Minnewaukan DW,Lab Sample ID: 32101399005-A,Collection Date: 06/29/2021 10:45
...,...,...,...
0,Client Sample ID: DEQ prefilter tap,Lab Sample ID: 32101399071-A,Collection Date: 06/28/2021 13:15
0,Client Sample ID: DEQ prefilter tap FRB,Lab Sample ID: 32101399072-A,Collection Date: 06/28/2021 13:15
0,Client Sample ID: DEQ postfilter,Lab Sample ID: 32101399073-A,Collection Date: 06/28/2021 13:30
0,Client Sample ID: DEQ postfilter FRB,Lab Sample ID: 32101399074-A,Collection Date: 06/28/2021 13:30
0,Client Sample ID: Washburn DW,Lab Sample ID: 32101399075-A,Collection Date: 06/28/2021 08:12

In [61]:
col_df2['sample_id'] = col_df2['sample_id'].str.split(':').str[1].str.strip()
col_df2['location'] = col_df2['location'].str.split(':').str[1].str.strip()
col_df2['sample_date'] = col_df2['sample_date'].apply(lambda x: x.split(': ', 1)[1])

In [63]:
col_df2

                 location      sample_id         sample_date
0               Makoti DW  32101399001-A   06/28/2021  11:53
0         Maggie DW - DUP  32101399002-A   06/28/2021  11:54
0            Riverdale DW  32101399003-A   06/28/2021  10:11
0      McLean-Sheridan DW  32101399004-A   06/28/2021  09:03
0          Minnewaukan DW  32101399005-A   06/29/2021  10:45
..                    ...            ...                 ...
0       DEQ prefilter tap  32101399071-A   06/28/2021  13:15
0   DEQ prefilter tap FRB  32101399072-A   06/28/2021  13:15
0          DEQ postfilter  32101399073-A   06/28/2021  13:30
0      DEQ postfilter FRB  32101399074-A   06/28/2021  13:30
0             Washburn DW  32101399075-A   06/28/2021  08:12

[75 rows x 3 columns]

In [64]:
columns_to_repeat = ['location', 'sample_id', 'sample_date']
df_repeated2 = pd.DataFrame(columns=columns_to_repeat)

for i in range(len(col_df2)):
    row_repeated = pd.concat([col_df2.iloc[[i]][columns_to_repeat]] * 18, ignore_index=True)
    df_repeated2 = pd.concat([df_repeated2, row_repeated], ignore_index=True)

df_repeated2

         location      sample_id         sample_date
0       Makoti DW  32101399001-A   06/28/2021  11:53
1       Makoti DW  32101399001-A   06/28/2021  11:53
2       Makoti DW  32101399001-A   06/28/2021  11:53
3       Makoti DW  32101399001-A   06/28/2021  11:53
4       Makoti DW  32101399001-A   06/28/2021  11:53
...           ...            ...                 ...
1345  Washburn DW  32101399075-A   06/28/2021  08:12
1346  Washburn DW  32101399075-A   06/28/2021  08:12
1347  Washburn DW  32101399075-A   06/28/2021  08:12
1348  Washburn DW  32101399075-A   06/28/2021  08:12
1349  Washburn DW  32101399075-A   06/28/2021  08:12

[1350 rows x 3 columns]

In [65]:
nd_df2.index = range(0, len(nd_df2))

In [66]:
nd_df2021 = pd.concat([df_repeated2, nd_df2], axis=1)

In [67]:
nd_df2021

,location,sample_id,sample_date,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
0,Makoti DW,32101399001-A,06/28/2021 11:53,NEtFOSAA,ND,U,0.707,1.71,ng/L,1,07/8/2021 21:59
1,Makoti DW,32101399001-A,06/28/2021 11:53,NMeFOSAA,ND,U,0.725,3.42,ng/L,1,07/8/2021 21:59
2,Makoti DW,32101399001-A,06/28/2021 11:53,PFBS,ND,U,0.473,1.71,ng/L,1,07/8/2021 21:59
3,Makoti DW,32101399001-A,06/28/2021 11:53,PFDA,ND,U,0.813,1.71,ng/L,1,07/8/2021 21:59
4,Makoti DW,32101399001-A,06/28/2021 11:53,PFDoA,ND,U,0.959,1.71,ng/L,1,07/8/2021 21:59
...,...,...,...,...,...,...,...,...,...,...,...
1345,Washburn DW,32101399075-A,06/28/2021 08:12,PFuNA,ND,U,0.378,1.82,ng/L,1,07/14/2021 14:46
1346,Washburn DW,32101399075-A,06/28/2021 08:12,NaDONA,ND,U,0.499,1.82,ng/L,1,07/14/2021 14:46
1347,Washburn DW,32101399075-A,06/28/2021 08:12,9Cl-PF3ONS,ND,U,0.609,1.82,ng/L,1,07/14/2021 14:46
1348,Washburn DW,32101399075-A,06/28/2021 08:12,11Cl-PF3OUdS,ND,U,0.620,1.82,ng/L,1,07/14/2021 14:46
1349,Washburn DW,32101399075-A,06/28/2021 08:12,HFPO-DA (GenX),ND,U,1.58,3.65,ng/L,1,07/14/2021 14:46

In [70]:
nd_df = pd.concat([nd_df2020, nd_df2021])

In [71]:
nd_df.index = range(0, len(nd_df))

In [72]:
nd_df

,location,sample_id,sample_date,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
0,Garrison-DW,32001921001-A,10/12/2020 10:00,NEtFOSAA,ND,U,0.780,2.02,ng/L,1,10/28/2020 21:30
1,Garrison-DW,32001921001-A,10/12/2020 10:00,NMeFOSAA,ND,U,0.716,2.02,ng/L,1,10/28/2020 21:30
2,Garrison-DW,32001921001-A,10/12/2020 10:00,PFBS,ND,U,0.469,2.02,ng/L,1,10/28/2020 21:30
3,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDA,ND,U,0.459,2.02,ng/L,1,10/28/2020 21:30
4,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDoA,ND,U,0.500,2.02,ng/L,1,10/28/2020 21:30
...,...,...,...,...,...,...,...,...,...,...,...
2461,Washburn DW,32101399075-A,06/28/2021 08:12,PFuNA,ND,U,0.378,1.82,ng/L,1,07/14/2021 14:46
2462,Washburn DW,32101399075-A,06/28/2021 08:12,NaDONA,ND,U,0.499,1.82,ng/L,1,07/14/2021 14:46
2463,Washburn DW,32101399075-A,06/28/2021 08:12,9Cl-PF3ONS,ND,U,0.609,1.82,ng/L,1,07/14/2021 14:46
2464,Washburn DW,32101399075-A,06/28/2021 08:12,11Cl-PF3OUdS,ND,U,0.620,1.82,ng/L,1,07/14/2021 14:46
2465,Washburn DW,32101399075-A,06/28/2021 08:12,HFPO-DA (GenX),ND,U,1.58,3.65,ng/L,1,07/14/2021 14:46

In [73]:
nd_df.dtypes

location         object
sample_id        object
sample_date      object
Parameter        object
Result           object
Qual             object
DL               object
LOQ/CL           object
Units            object
DF               object
Date Analyzed    object
dtype: object

In [75]:
nd_df['Result'] = nd_df['Result'].replace('ND', 0)

In [77]:
nd_df['Result'] = nd_df['Result'].astype(float)

In [79]:
nd_df['DL'] = nd_df['DL'].astype(float)

In [87]:
nd_df

,location,sample_id,sample_date,Parameter,Result,Qual,DL,LOQ/CL,Units,DF,Date Analyzed
0,Garrison-DW,32001921001-A,10/12/2020 10:00,NEtFOSAA,0.0,U,0.780,2.02,ng/L,1,10/28/2020 21:30
1,Garrison-DW,32001921001-A,10/12/2020 10:00,NMeFOSAA,0.0,U,0.716,2.02,ng/L,1,10/28/2020 21:30
2,Garrison-DW,32001921001-A,10/12/2020 10:00,PFBS,0.0,U,0.469,2.02,ng/L,1,10/28/2020 21:30
3,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDA,0.0,U,0.459,2.02,ng/L,1,10/28/2020 21:30
4,Garrison-DW,32001921001-A,10/12/2020 10:00,PFDoA,0.0,U,0.500,2.02,ng/L,1,10/28/2020 21:30
...,...,...,...,...,...,...,...,...,...,...,...
2461,Washburn DW,32101399075-A,06/28/2021 08:12,PFuNA,0.0,U,0.378,1.82,ng/L,1,07/14/2021 14:46
2462,Washburn DW,32101399075-A,06/28/2021 08:12,NaDONA,0.0,U,0.499,1.82,ng/L,1,07/14/2021 14:46
2463,Washburn DW,32101399075-A,06/28/2021 08:12,9Cl-PF3ONS,0.0,U,0.609,1.82,ng/L,1,07/14/2021 14:46
2464,Washburn DW,32101399075-A,06/28/2021 08:12,11Cl-PF3OUdS,0.0,U,0.620,1.82,ng/L,1,07/14/2021 14:46
2465,Washburn DW,32101399075-A,06/28/2021 08:12,HFPO-DA (GenX),0.0,U,1.580,3.65,ng/L,1,07/14/2021 14:46

In [80]:
columns = {
    'sample_id': str,
    'sampling_location': str,
    'data_source': str,
    'latitude': float,
    'longitude': float,
    'sampling_date': 'datetime64[ns]',
    'pws_id': str,
    'water_system_name': str,
    'population': int,
    'well_type': str,
    'well_depth': float,
    'units': str,
    'source_type': str,
    'state': str,
    'city': str,
    'county': str,
    'MRL': float,
    'DL': float,
    'analytical_methods': str,
    'is_detected': bool,
    'analyte': str,
    'concentration': float,
    'pfas_total': float,
    'note': str   
}

In [88]:
df = pd.DataFrame({col: pd.Series(dtype=dt) for col, dt in columns.items()})
df['sample_id'] = nd_df['sample_id']
df['sampling_location'] = nd_df['location']
df['data_source'] = 'DEQ'
df['sampling_date'] = pd.to_datetime(nd_df['sample_date'])
df['units'] = nd_df['Units']
df['source_type'] = 'drinking water'
df['state'] = 'North Dakota'
df['DL'] = nd_df['DL']
df['analytical_methods'] = 'EPA 537.1'
df['analyte'] = nd_df['Parameter'].str.upper()
df['concentration'] = nd_df['Result']

In [89]:
def set_is_detected(concentration):
    if pd.isna(concentration):
        return np.nan
    return concentration != 0

In [90]:
df['is_detected'] = df['concentration'].apply(set_is_detected)

In [91]:
df

,sample_id,sampling_location,data_source,latitude,longitude,sampling_date,pws_id,water_system_name,population,well_type,...,city,county,MRL,DL,analytical_methods,is_detected,analyte,concentration,pfas_total,note
0,32001921001-A,Garrison-DW,DEQ,NaN,NaN,2020-10-12 10:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.780,EPA 537.1,False,NETFOSAA,0.0,NaN,NaN
1,32001921001-A,Garrison-DW,DEQ,NaN,NaN,2020-10-12 10:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.716,EPA 537.1,False,NMEFOSAA,0.0,NaN,NaN
2,32001921001-A,Garrison-DW,DEQ,NaN,NaN,2020-10-12 10:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.469,EPA 537.1,False,PFBS,0.0,NaN,NaN
3,32001921001-A,Garrison-DW,DEQ,NaN,NaN,2020-10-12 10:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.459,EPA 537.1,False,PFDA,0.0,NaN,NaN
4,32001921001-A,Garrison-DW,DEQ,NaN,NaN,2020-10-12 10:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.500,EPA 537.1,False,PFDOA,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,32101399075-A,Washburn DW,DEQ,NaN,NaN,2021-06-28 08:12:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.378,EPA 537.1,False,PFUNA,0.0,NaN,NaN
2462,32101399075-A,Washburn DW,DEQ,NaN,NaN,2021-06-28 08:12:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.499,EPA 537.1,False,NADONA,0.0,NaN,NaN
2463,32101399075-A,Washburn DW,DEQ,NaN,NaN,2021-06-28 08:12:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.609,EPA 537.1,False,9CL-PF3ONS,0.0,NaN,NaN
2464,32101399075-A,Washburn DW,DEQ,NaN,NaN,2021-06-28 08:12:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.620,EPA 537.1,False,11CL-PF3OUDS,0.0,NaN,NaN
2465,32101399075-A,Washburn DW,DEQ,NaN,NaN,2021-06-28 08:12:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.580,EPA 537.1,False,HFPO-DA (GENX),0.0,NaN,NaN

In [92]:
df.to_csv('northdakota_dw.csv')