In [1]:
import pandas as pd
import os
import numpy as np
import camelot
import re

In [2]:
os.getcwd()

'/Users/chuqiwang/Desktop/US_PFAS_Project/data_cleaning/Vermont'

In [3]:
vt_df = pd.read_excel('Statewide%20Data-PFASData_VERMONT(updated).xlsx')

In [4]:
vt_df

,WSID,System,Town,Lab Number,Unnamed: 4,Date,Type,Sample Point,Unnamed: 8,Facility ID,Compound,Concentration (ppt)
0,VT0006075 MOUNT HOLLY SCHOOL MOUNT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Interim Drinking Water Standard sum of 5 PFAS ...,440.52
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFHPA) PERFLUOROHEPTANOIC ACID,3.72
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFHXS) PERFLUOROHEXANESULFONIC ACID,134
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFNA) PERFLUORONONANOIC ACID,ND
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFOS) PERFLUOROOCTANESULFONIC ACID,262
...,...,...,...,...,...,...,...,...,...,...,...,...
39186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9CL-PF3ONS,ND
39187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADONA,ND
39188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HFPO-DA,ND
39189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NETFOSAA,ND
39190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NMEFOSAA,ND

In [5]:
vt_df = vt_df.drop(columns=['Unnamed: 4', 'Unnamed: 8'])

In [6]:
vt_df

,WSID,System,Town,Lab Number,Date,Type,Sample Point,Facility ID,Compound,Concentration (ppt)
0,VT0006075 MOUNT HOLLY SCHOOL MOUNT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Interim Drinking Water Standard sum of 5 PFAS ...,440.52
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFHPA) PERFLUOROHEPTANOIC ACID,3.72
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFHXS) PERFLUOROHEXANESULFONIC ACID,134
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFNA) PERFLUORONONANOIC ACID,ND
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(*PFOS) PERFLUOROOCTANESULFONIC ACID,262
...,...,...,...,...,...,...,...,...,...,...
39186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9CL-PF3ONS,ND
39187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADONA,ND
39188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HFPO-DA,ND
39189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NETFOSAA,ND
39190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NMEFOSAA,ND

In [7]:
vt_df[['WSID', 'System', 'Town', 'Lab Number', 'Date', 'Type', 'Sample Point', 'Facility ID']]

,WSID,System,Town,Lab Number,Date,Type,Sample Point,Facility ID
0,VT0006075 MOUNT HOLLY SCHOOL MOUNT...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
39186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
split_columns = vt_df['WSID'].str.split(r'\s{2,}', expand=True)

In [9]:
split_columns = split_columns.drop(columns=[8])

In [10]:
vt_df[['WSID', 'System', 'Town', 'Lab Number', 'Date', 'Type', 'Sample Point', 'Facility ID']] = split_columns

In [11]:
fillin_data = vt_df[['WSID', 'System', 'Town', 'Lab Number', 'Date', 'Type', 'Sample Point', 'Facility ID']].fillna(method='ffill')

/var/folders/m8/kh2nk5652k94h_n7lqjvr8n00000gn/T/ipykernel_84807/347450092.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fillin_data = vt_df[['WSID', 'System', 'Town', 'Lab Number', 'Date', 'Type', 'Sample Point', 'Facility ID']].fillna(method='ffill')

In [12]:
vt_df[['WSID', 'System', 'Town', 'Lab Number', 'Date', 'Type', 'Sample Point', 'Facility ID']] = fillin_data

In [13]:
vt_df

,WSID,System,Town,Lab Number,Date,Type,Sample Point,Facility ID,Compound,Concentration (ppt)
0,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,Interim Drinking Water Standard sum of 5 PFAS ...,440.52
1,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHPA) PERFLUOROHEPTANOIC ACID,3.72
2,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHXS) PERFLUOROHEXANESULFONIC ACID,134
3,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFNA) PERFLUORONONANOIC ACID,ND
4,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFOS) PERFLUOROOCTANESULFONIC ACID,262
...,...,...,...,...,...,...,...,...,...,...
39186,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,9CL-PF3ONS,ND
39187,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,ADONA,ND
39188,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,HFPO-DA,ND
39189,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NETFOSAA,ND
39190,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NMEFOSAA,ND

In [14]:
vt_df['Compound'].unique()

array(['Interim Drinking Water Standard sum of 5 PFAS compounds',
       '(*PFHPA) PERFLUOROHEPTANOIC ACID',
       '(*PFHXS) PERFLUOROHEXANESULFONIC ACID',
       '(*PFNA) PERFLUORONONANOIC ACID',
       '(*PFOS) PERFLUOROOCTANESULFONIC ACID',
       '(*PFOA) PERFLUOROOCTANOIC ACID',
       '(PFBS) PERFLUOROBUTANESULFONIC ACID',
       'PERFLUORODECANOIC ACID (PFDA)',
       'PERFLUORODODECANOIC ACID (PFDOA)',
       'PERFLUOROHEXANOIC ACID (PFHXA)',
       'PERFLUOROTETRADECANOIC ACID (PFTA)',
       'PERFLUOROTRIDECANOIC ACID (PFTRDA)',
       'PERFLUOROUNDECANOIC ACID (PFUNA)', '11CL-PF3OUDS', '9CL-PF3ONS',
       'ADONA', 'HFPO-DA', 'NETFOSAA', 'NMEFOSAA'], dtype=object)

In [15]:
def extract_acronym(compound):
    match = re.search(r'\((\*?[A-Z0-9\-]+)\)', compound)
    if match:
        return match.group(1).replace('*', '')
    else:
        acronym_match = re.search(r'^[A-Z0-9\-]+$', compound.strip())
        if acronym_match:
            return acronym_match.group(0)
        else:
            # Return None if no acronym is found
            return np.nan

In [16]:
vt_df['analyte'] = vt_df['Compound'].apply(extract_acronym)

In [17]:
vt_df['analyte'] = vt_df['analyte'].fillna('PFHPA+PFHXS+PFNA+PFOS+PFOA')

In [18]:
vt_df

,WSID,System,Town,Lab Number,Date,Type,Sample Point,Facility ID,Compound,Concentration (ppt),analyte
0,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,Interim Drinking Water Standard sum of 5 PFAS ...,440.52,PFHPA+PFHXS+PFNA+PFOS+PFOA
1,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHPA) PERFLUOROHEPTANOIC ACID,3.72,PFHPA
2,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHXS) PERFLUOROHEXANESULFONIC ACID,134,PFHXS
3,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFNA) PERFLUORONONANOIC ACID,ND,PFNA
4,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFOS) PERFLUOROOCTANESULFONIC ACID,262,PFOS
...,...,...,...,...,...,...,...,...,...,...,...
39186,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,9CL-PF3ONS,ND,9CL-PF3ONS
39187,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,ADONA,ND,ADONA
39188,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,HFPO-DA,ND,HFPO-DA
39189,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NETFOSAA,ND,NETFOSAA
39190,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NMEFOSAA,ND,NMEFOSAA

In [19]:
def process_result(value):
    if value == 'ND':
        return float(0)
    else:
        return float(value)

In [20]:
vt_df['concentration'] = vt_df['Concentration (ppt)'].apply(process_result)

In [21]:
vt_df

,WSID,System,Town,Lab Number,Date,Type,Sample Point,Facility ID,Compound,Concentration (ppt),analyte,concentration
0,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,Interim Drinking Water Standard sum of 5 PFAS ...,440.52,PFHPA+PFHXS+PFNA+PFOS+PFOA,440.52
1,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHPA) PERFLUOROHEPTANOIC ACID,3.72,PFHPA,3.72
2,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFHXS) PERFLUOROHEXANESULFONIC ACID,134,PFHXS,134.00
3,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFNA) PERFLUORONONANOIC ACID,ND,PFNA,0.00
4,VT0006075,MOUNT HOLLY SCHOOL,MOUNT HOLLY,2109-28743-001,9/21/2021,RT,EP001,TP001,(*PFOS) PERFLUOROOCTANESULFONIC ACID,262,PFOS,262.00
...,...,...,...,...,...,...,...,...,...,...,...,...
39186,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,9CL-PF3ONS,ND,9CL-PF3ONS,0.00
39187,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,ADONA,ND,ADONA,0.00
39188,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,HFPO-DA,ND,HFPO-DA,0.00
39189,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NETFOSAA,ND,NETFOSAA,0.00
39190,VT0005289,WORCESTER FIRE DISTRICT 1,WORCESTER,1911-29212-001,11/7/2019,RT,EP001,TP001,NMEFOSAA,ND,NMEFOSAA,0.00

In [22]:
columns = {
    'sample_id': str,
    'sampling_location': str,
    'data_source': str,
    'latitude': float,
    'longitude': float,
    'sampling_date': 'datetime64[ns]',
    'pws_id': str,
    'water_system_name': str,
    'population': int,
    'well_type': str,
    'well_depth': float,
    'units': str,
    'source_type': str,
    'state': str,
    'city': str,
    'county': str,
    'MRL': float,
    'DL': float,
    'analytical_methods': str,
    'is_detected': bool,
    'analyte': str,
    'concentration': float,
    'pfas_total': float,
    'note': str   
}

In [23]:
df = pd.DataFrame({col: pd.Series(dtype=dt) for col, dt in columns.items()})
df['sample_id'] = vt_df['Lab Number'] 
df['data_source'] = 'DWGWP'
df['sampling_date'] = pd.to_datetime(vt_df['Date'])
df['pws_id'] = vt_df['WSID']
df['water_system_name'] = vt_df['System']
df['units'] = 'ng/L'
df['source_type'] = 'drinking water'
df['state'] = 'Vermont'
df['analyte'] = vt_df['analyte']
df['concentration'] = vt_df['concentration']
df['sampling_location'] = vt_df['Town']

In [24]:
df['is_detected'] = df['concentration'] != 0

In [25]:
df

,sample_id,sampling_location,data_source,latitude,longitude,sampling_date,pws_id,water_system_name,population,well_type,...,city,county,MRL,DL,analytical_methods,is_detected,analyte,concentration,pfas_total,note
0,2109-28743-001,MOUNT HOLLY,DWGWP,NaN,NaN,2021-09-21,VT0006075,MOUNT HOLLY SCHOOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFHPA+PFHXS+PFNA+PFOS+PFOA,440.52,NaN,NaN
1,2109-28743-001,MOUNT HOLLY,DWGWP,NaN,NaN,2021-09-21,VT0006075,MOUNT HOLLY SCHOOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFHPA,3.72,NaN,NaN
2,2109-28743-001,MOUNT HOLLY,DWGWP,NaN,NaN,2021-09-21,VT0006075,MOUNT HOLLY SCHOOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFHXS,134.00,NaN,NaN
3,2109-28743-001,MOUNT HOLLY,DWGWP,NaN,NaN,2021-09-21,VT0006075,MOUNT HOLLY SCHOOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,PFNA,0.00,NaN,NaN
4,2109-28743-001,MOUNT HOLLY,DWGWP,NaN,NaN,2021-09-21,VT0006075,MOUNT HOLLY SCHOOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,PFOS,262.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39186,1911-29212-001,WORCESTER,DWGWP,NaN,NaN,2019-11-07,VT0005289,WORCESTER FIRE DISTRICT 1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,9CL-PF3ONS,0.00,NaN,NaN
39187,1911-29212-001,WORCESTER,DWGWP,NaN,NaN,2019-11-07,VT0005289,WORCESTER FIRE DISTRICT 1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,ADONA,0.00,NaN,NaN
39188,1911-29212-001,WORCESTER,DWGWP,NaN,NaN,2019-11-07,VT0005289,WORCESTER FIRE DISTRICT 1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,HFPO-DA,0.00,NaN,NaN
39189,1911-29212-001,WORCESTER,DWGWP,NaN,NaN,2019-11-07,VT0005289,WORCESTER FIRE DISTRICT 1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NETFOSAA,0.00,NaN,NaN
39190,1911-29212-001,WORCESTER,DWGWP,NaN,NaN,2019-11-07,VT0005289,WORCESTER FIRE DISTRICT 1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NMEFOSAA,0.00,NaN,NaN

In [26]:
df.to_csv('vermont_dw.csv')